# Dependencies
node_modules/

# Build outputs
dist/
.turbo/
.next/
out/

# Env and local configs
.env
.env.*
.env.local
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage and cache
coverage/
.nyc_output/
.cache/

# Prisma
prisma/*.db-journal

